<p-menubar [model]="manuItems" styleClass="flex">
  <ng-template pTemplate="start">
    <img src="assets/favicon.png" height="30" class="mr-2" alt="icono" />
  </ng-template>
  <ng-template pTemplate="end">
    <!--    <button
      pButton
      pRipple
      label="Login"
      class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"
    ></button>
    <button
      pButton
      pRipple
      label="Register"
      class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"
    ></button> -->

    <app-change-aparence></app-change-aparence>
    <ul class="date">
      <li>{{ customDate | date : "medium" : "" : "es-ES" }}</li>
    </ul>
  </ng-template>
</p-menubar>
