@use "/src/styles.scss";
@import "primeng/resources/themes/lara-dark-blue/theme.css";

.p-menubar {
  .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link
    .p-menuitem-text {
    color: styles.$highlightTextColor;
    font-size: large;
  }
  .date {
    color: styles.$highlightTextColor;
    font-size: large;
  }
  .p-menuitem-icon {
    color: styles.$highlightTextColor !important;
    font-size: 1.5rem;
  }
}
